/*===PALETA DE CORES==*/
$mogno-escuro: #6E3B29;
$carvalho-quente: #C88A58;
$verde-floresta: #2A4D44;
$creme-suave: #FAF8F5;
$grafite-fechado: #2B2825;

/*===VALORES PADRÔES===*/
$esp-padrao: 0.8rem;
$esp-pequ: 0.5rem;
$esp-gran: 1rem;

$fonte-norm: 14pt;
$fonte-pequ: 12pt;
$fonte-gran: 20pt;